/* Estilos de Pagina*/

.jumbotron-principal{
    margin-bottom: 0px;
    height: 50%;
    background-image: url(src\assets\home.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    max-width: 100%;
}

    /* BLOG */
.jumbotron .blog{
    margin-bottom: 0px;
    height: 50%;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    max-width: 100%;
}

.container-fluid {
    height: 350px;
    width: 2000px;
}


.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  align-items: center;
  color: black;
}

.cuadro_intro_hover {
    padding: 0px;
    position: relative;
    overflow: hidden;
    height: 250px;
}

.cuadro_intro_hover:hover .caption {
    opacity: 1;
    transform: translateY(-150px);
    -webkit-transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-transform: translateY(-150px);
}

.cuadro_intro_hover img {
    z-index: 6;
}

.cuadro_intro_hover .caption {
    position: absolute;
    top: 200px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.cuadro_intro_hover .blur{
    background-color: rgba(0, 0, 0, 0.7);
    height: 300px;
    z-index: 5;
    width: 100%;
}

.cuadro_intro_hover .caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 300px;
    text-align: center;
    top: 0px;
    width: 100%;
}

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
}

.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: #707070;
}

/* Testimonial */

.card {
    margin: 0 auto;
}

.card .carousel-item {
    height: 250px;
}

.card .carousel-caption {
    padding: 0;
    right: 0;
    left: 0;
    color: #3d3d3d;
}

.card .carousel-caption h3 {
    color: #3d3d3d;
}
.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }

.card .carousel-caption p {
    line-height: 30px;
}

.card .carousel-caption .col-sm-3 {
    display: flex;
    align-items: center;
}

.card .carousel-caption .col-sm-9 {
    text-align: left;
}

.navi a {
    text-decoration: none;
}

a>.ico {
    background-color: grey;
    padding: 10px;
}

a:hover>.ico {
    background-color: #666;
}

nav.main-navigation {
    position: relative;
}

nav.main-navigation ul.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: right;
}

    .nav-list li.nav-list-item {
        display: inline-block;
        line-height: 40px;
        margin-right: 80px;
    }

a.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: black;
}
