<nav class="navbar navbar-expand-lg fixed-top" style="background-color: white; padding:0;" id="contacto">
    <a class="navbar-brand" style="font-size: 2.2em"><strong>Pandemia</strong> <span class="font-color-gold"> Digital</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPandemia" aria-controls="navbarPandemia" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

    <div class="collapse navbar-collapse" id="navbarPandemia">
        <ul class="navbar-nav ml-auto">
        </ul>
        <ul class="nav-list">
            <li class="nav-list-item">
                <a href="https://www.facebook.com/DigitalPandemia/" target="_blank" class="mr-1">
                    <i *ngIf="buttons == false" class="fa fa-facebook fa-1x" aria-hidden="true" style="color: black; font-weight: bold"></i>
                </a>
                <a href="https://twitter.com/DigitalPandemia" target="_blank" class="mr-1">
                    <i *ngIf="buttons == false" class="fa fa-twitter fa-1x" aria-hidden="true" style="color: black; font-weight: bold"></i>
                </a>
                <a href="https://www.instagram.com/pandemia_digital/" target="_blank" class="mr-1">
                    <i *ngIf="buttons == false" class="fa fa-instagram fa-1x" aria-hidden="true" style="color: black; font-weight: bold"></i>
                </a>
                <a href="https://www.linkedin.com/company/pandemia-d/?viewAsMember=true" target="_blank" class="mr-1">
                    <i *ngIf="buttons == false" class="fa fa-linkedin fa-1x" aria-hidden="true" style="color: black; font-weight: bold"></i>
                </a>
                <li class="nav-list-item">
                    <a href="#contacto" class="nav-link">Contacto</a>
                </li>
                <li class="nav-list-item">
                    <a href="#blog" class="nav-link">Blog</a>
                </li>
        </ul>
    </div>
</nav>


<!-- JUMBOTRON PRINCIPAL -->
<div class="jumbotron jumbotron-principal jumbotron-fluid img-fluid pb-2">
    <div class="container">
        <p class="text-center title-landing">Pandemia <strong class="font-color-gold"> Digital</strong></p>
        <p class="text-center subtitle-landing">¿Estás listo para hacer crecer tu negocio?</p><br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div id="mc_embed_signup">
                    <form action="https://hotmail.us3.list-manage.com/subscribe/post?u=076eb09f333c5f0533346ed64&amp;id=26ca01b10f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="row">
                                <div class="col-md-6 pr-1 mr-0">
                                    <div class="card" style="border: transparent; background-color: transparent">
                                        <div class="form-group">
                                            <input type="text" value="" name="NAME" class="form-control required name" id="mce-NAME" placeholder="Nombre">
                                            <select class="form-control required Tipo mt-2" id="mce-TYPE" name="TYPE">
                                                <option>Tipo de empresa</option>
                                                <option>Startup</option>
                                                <option>MiPyME</option>
                                                <option>Empresa Grande</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pl-1 ml-0">
                                    <div class="card" style="border: transparent; background-color: transparent">
                                        <div class="form-group">
                                            <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Correo electrónico">
                                            <input type="text" value="" name="PHONE" class="form-control required phone mt-2" id="mce-PHONE" placeholder="*Teléfono">
                                        </div>
                                        <div id="mce-responses" class="clear">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ID unico-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_076eb09f333c5f0533346ed64_26ca01b10f" tabindex="-1">
                                </div>
                                <button type="submit" class="btn btn-outline-warning clear" style="margin:auto; width: 220px;" name="subscribe" id="mc-embedded-subscribe">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <a href="https://www.facebook.com/DigitalPandemia/" target="_blank" class="mr-1">
                    <i *ngIf="buttons == true" class="fa fa-facebook fa-1x" aria-hidden="true" style="color: black; font-weight: bold"></i>
                </a>
                <a href="https://twitter.com/DigitalPandemia" target="_blank" class="mr-1">
                    <i *ngIf="buttons == true" class="fa fa-twitter fa-1x" aria-hidden="true" style="color: black; font-weight: bold"></i>
                </a>
                <a href="https://www.instagram.com/pandemia_digital/" target="_blank" class="mr-1">
                    <i *ngIf="buttons == true" class="fa fa-instagram fa-1x" aria-hidden="true" style="color: black; font-weight: bold"></i>
                </a>
                <a href="https://www.linkedin.com/company/pandemia-d/?viewAsMember=true" target="_blank" class="mr-1">
                    <i *ngIf="buttons == true" class="fa fa-linkedin fa-1x" aria-hidden="true" style="color: black; font-weight: bold"></i>
                </a>
            </div>
            <div class="col-md-2" id="blog"></div>
        </div>
    </div>
</div>
<br>

<!-- BLOG -->
<div class="container-blog">
    <div class="row">
        <p class="text-left ml-5 pl-2" style="font-size: 1.9em; font-family: 'Athelas Regular'"><strong style="color: #df9941">B</strong>log
        </p>
    </div>
    <div class="blog blog-carroussel">
        <div class="arrows-carrousel">
            <a class="carousel-control-prev" href="#Carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
        </div>
        <div class="">
            <div id="Carousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="cuadro_intro_hover" style="background-color:#cccccc;">
                                    <p>
                                        <img src="{{img1}}" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </p>
                                    <div class="caption">
                                        <div class="blur"></div>
                                            <div class="caption-text" >
                                                <h2  class="caption-title">{{Titulo1}}</h2>
                                                <p>{{parr1}}</p>
                                         </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="cuadro_intro_hover" style="background-color:#cccccc;">
                                    <p>
                                        <img src="{{img2}}" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </p>
                                    <div class="caption">
                                        <div class="blur"></div>
                                        <div class="caption-text">
                                            <h2 class="caption-title">{{Titulo2}}</h2>
                                            <p>{{parr2}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="cuadro_intro_hover" style="background-color:#cccccc;">
                                    <p>
                                        <img src="{{img3}}" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </p>
                                    <div class="caption">
                                        <div class="blur"></div>
                                        <div class="caption-text">
                                            <h2 class="caption-title">{{Titulo3}}</h2>
                                            <p>{{parr3}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="cuadro_intro_hover" style="background-color:#cccccc;">
                                    <p>
                                        <img src="{{img4}}" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </p>
                                    <div class="caption">
                                        <div class="blur"></div>
                                        <div class="caption-text">
                                            <h2 class="caption-title">{{Titulo4}}</h2>
                                            <p>{{parr4}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="cuadro_intro_hover" style="background-color:#cccccc;">
                                    <p>
                                        <img src="{{img5}}" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </p>
                                    <div class="caption">
                                        <div class="blur"></div>
                                        <div class="caption-text">
                                            <h3 class="caption-title">{{Titulo5}}</h3>
                                            <p>{{parr5}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="cuadro_intro_hover" style="background-color:#cccccc;">
                                    <p>
                                        <img src="{{img6}}" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </p>
                                    <div class="caption">
                                        <div class="blur"></div>
                                        <div class="caption-text">
                                            <h3 class="caption-title">{{Titulo6}}</h3>
                                            <p>{{parr6}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="cuadro_intro_hover" style="background-color:#cccccc;">
                                    <p>
                                        <img src="{{img7}}" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </p>
                                    <div class="caption">
                                        <div class="blur"></div>
                                        <div class="caption-text">
                                            <h3 class="caption-title">{{Titulo7}}</h3>
                                            <p>{{parr7}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="cuadro_intro_hover" style="background-color:#cccccc;">
                                    <p>
                                        <img src="{{img8}}" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </p>
                                    <div class="caption">
                                        <div class="blur"></div>
                                        <div class="caption-text">
                                            <h3 class="caption-title">{{Titulo8}}</h3>
                                            <p>{{parr8}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="arrows-carrousel">
            <a class="carousel-control-next" href="#Carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon " aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="card col-md-12 mt-5 " style="background-color: #eeeeee">
    <div id="Testimonial" class="carousel slide" data-ride="testimonial" data-interval="100000">
        <div class="w-100 carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="mx-3 d-flex align-items-center">
                                    <img class="img-footer" src="http://via.placeholder.com/200x200" alt="" />
                                </div>
                                <div class="mx-3" style="text-align: left;">
                                    <i class="fa fa-amazon fa-4x" style="display: flex; justify-content: center; max-height: 50px; font-size: 2.7em;" aria-hidden="true"></i>
                                    <h3>Selene Olea</h3>
                                    <h6 style="margin-top: -5px;">CEO Amazon</h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-1 w-25" style="flex: 0 0 3%">
                            <style>
                                .vl-1 {
                                    border-left: 3px solid #df9941;
                                    height: 150px;
                                }
                            </style>
                            <div class="vl-1"></div>
                        </div>

                        <div class="col-sm-7 d-flex align-items-center" style="flex:0 0 62%; max-width: 62%;">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem corrupti dolore minima dignissimos, nulla aperiam asperiores nobis unde, eligendi, earum nam cumque numquam deserunt facere ipsum blanditiis neque doloribus minus.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="mx-3 d-flex align-items-center">
                                    <img class="img-footer" src="http://via.placeholder.com/200x200" alt="" />
                                </div>
                                <div class="mx-3" style="text-align: left;">
                                    <i class="fa fa-amazon fa-4x" style="display: flex; justify-content: center; max-height: 50px; font-size: 2.7em;" aria-hidden="true"></i>
                                    <h3>Juan Olea</h3>
                                    <h6 style="margin-top: -5px;">CEO Amazon</h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-1 w-25" style="flex: 0 0 3%">
                            <style>
                                .vl-1 {
                                    border-left: 3px solid #df9941;
                                    height: 150px;
                                }
                            </style>
                            <div class="vl-1"></div>
                        </div>

                        <div class="col-sm-7 d-flex align-items-center" style="flex:0 0 62%; max-width: 62%;">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem corrupti dolore minima dignissimos, nulla aperiam asperiores nobis unde, eligendi, earum nam cumque numquam deserunt facere ipsum blanditiis neque doloribus minus.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="mx-3 d-flex align-items-center">
                                    <img class="img-footer" src="http://via.placeholder.com/200x200" alt="" />
                                </div>
                                <div class="mx-3" style="text-align: left;">
                                    <i class="fa fa-amazon fa-4x" style="display: flex; justify-content: center; max-height: 50px; font-size: 2.7em;" aria-hidden="true"></i>
                                    <h3>Selene Olea</h3>
                                    <h6 style="margin-top: -5px;">CEO Amazon</h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-1 w-25" style="flex: 0 0 3%">
                            <style>
                                .vl-1 {
                                    border-left: 3px solid #df9941;
                                    height: 150px;
                                }
                            </style>
                            <div class="vl-1"></div>
                        </div>

                        <div class="col-sm-7 d-flex align-items-center" style="flex:0 0 62%; max-width: 62%;">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem corrupti dolore minima dignissimos, nulla aperiam asperiores nobis unde, eligendi, earum nam cumque numquam deserunt facere ipsum blanditiis neque doloribus minus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="float-right navi" style="margin-top: -20px;">
            <a class="" href="#Testimonial" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ico" aria-hidden="true"></span>
            </a>
            <a class="" href="#Testimonial" role="button" data-slide="next">
                <span class="carousel-control-next-icon ico" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>