<div class="jumbotron jumbotron-fluid img-fluid">
    <div class="container">
        <br><br><br><br>
        <h1 class="display-4 text-center">Pandemia <strong style="color: orange"> Digital</strong></h1>
        <p class="lead text-center" style="font-size: 3rem"><strong>¿Estás listo para hacer crecer tu negocio?</strong></p>
        <br><br><br><br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card" style="border: transparent; background-color: transparent">
                            <div class="form-group">
                                <input type="text" class="form-control" id="nombre" aria-describedby="nombre" placeholder="Nombre"> <br>
                                <select class="form-control" id="exampleSelect1">
                                    <option>Tipo de empresa ...</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="border: transparent; background-color: transparent">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" aria-describedby="email" placeholder="Correo Electronico"> <br>
                                <input type="text" class="form-control" id="phone" aria-describedby="phone" placeholder="Telefono">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <br><br><br><br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i> &nbsp;
                <i class="fa fa-twitter fa-2x" aria-hidden="true"></i> &nbsp;
                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i> &nbsp;
                <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>