/* Estilos de Pagina*/

.font-color-gold {
    color: rgb(235, 145, 19);
}

.navbar-brand {
    margin-left: 50px;
}

.jumbotron-principal {
    margin-bottom: 0px;
    height: calc(100vh);
    background-image: url(src\assets\home.jpg);
    background-position: center 55%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    max-width: 100%;
    display: flex;
    align-items: flex-end;
}

.caption-title {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 14px;
    font-size: 1em;
}

.caption-text p {
    font-size: .8em;
    font-family: sans-serif;
}


/* BLOG */

.jumbotron .blog {
    margin-bottom: 0px;
    height: 50%;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    max-width: 100vw;
}

.container-blog {
    /* padding: 0 15px; */
    width: calc(100vw - 15px);
}

.blog-carroussel {
    font-family: 'Athelas Regular';
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 35px;
}

.arrows-carrousel {
    position: relative;
    width: 50px;
    color: #000;
    filter: invert();
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.container-fluid {
    height: 350px;
    width: 100vw;
}

.cuadro_intro_hover {
    padding: 0px;
    position: relative;
    overflow: hidden;
    height: 280px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 100%;
}

.cuadro_intro_hover:hover .caption {
    opacity: 1;
    transform: translateY(-180px);
    -webkit-transform: translateY(-180px);
    -moz-transform: translateY(-180px);
    -ms-transform: translateY(-180px);
    -o-transform: translateY(-180px);
}

.form-control {
    padding: 0 15px;
    height: 40px;
    box-shadow: 5px 5px 8px rgba(60, 60, 60, .3);
}

select {
    color: #676767;
    font-weight: lighter;
    font-size: 1.1em;
    height: 44px;
    font-family: sans-serif;
    opacity: 1;
    /* Firefox */
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #676767;
    font-weight: lighter;
    font-size: 1.1em;
    font-family: sans-serif;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #676767;
    font-weight: lighter;
    font-size: 1.1em;
    font-family: sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #676767;
    font-weight: lighter;
    font-size: 1.1em;
    font-family: sans-serif;
}

.cuadro_intro_hover img {
    z-index: 6;
}

.cuadro_intro_hover .caption {
    position: absolute;
    top: 230px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.cuadro_intro_hover .blur {
    background-color: rgba(0, 0, 0, 0.7);
    height: 300px;
    z-index: 5;
    width: 100%;
}

.cuadro_intro_hover .caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 300px;
    text-align: center;
    top: 0px;
    width: 100%;
}

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
}

.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: #707070;
}


/* Testimonial */

.card {
    margin: 0 auto;
}

.card .carousel-item {
    height: 200px;
}

.card .carousel-caption {
    padding: 0;
    right: 0;
    left: 0;
    color: #3d3d3d;
}

.card .carousel-caption h3 {
    color: #3d3d3d;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.title-landing {
    font-size: 2em;
    margin-bottom: -.6em;
    font-weight: 300;
    text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.3);
}

.subtitle-landing {
    font-size: 2.85em;
    margin: 0;
    margin-bottom: -.2em;
    text-shadow: 4px 1px 0 rgba(0, 0, 0, 0.85);
}

.card .carousel-caption p {
    line-height: 25px;
    font-size: 1.3em;
    font-family: 'Athelas Bold';
    font-weight: bold;
    text-align: justify;
}

.card .carousel-caption .col-sm-3 {
    display: flex;
    align-items: center;
}

.card .carousel-caption .col-sm-9 {
    text-align: left;
}

.navi a {
    text-decoration: none;
}

a>.ico {
    padding: 10px;
}

a:hover>.ico {
    background-color: #666;
}

nav {
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.85);
}

nav.main-navigation {
    position: relative;
}

nav.main-navigation ul.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: right;
    padding: 80px;
}

.nav-list li.nav-list-item {
    display: inline-block;
    line-height: 40px;
    margin: 0 20px;
}

a.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: black;
}

.nav-list {
    margin: 0;
    padding: 0 40px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/assets/arrow-down.png) 98% / 10% no-repeat #eee;
}


/* CAUTION: IE hackery ahead */

select::-ms-expand {
    display: none;
    /* remove default arrow on ie10 and ie11 */
}


/* target Internet Explorer 9 to undo the custom arrow */

@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}

.img-footer {
    width: 120px;
    height: 120px;
}