@font-face {
    font-family: 'Athelas Regular';
    font-style: normal;
    font-weight: normal;
    src: url('assets/Fuentes/Athelas-Bold.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Athelas Regular', 'arial', sans-serif;
}